.description-movie {
  height: 500px;
  margin: 27px 40px 0px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.description-movie span {
  color: #f65261;
}

.description-info {
  display: flex;
  justify-content: space-between;
}

.description-text {
  margin-left: 48px;
  position: relative;
  margin-top: 0;
}

.description-text .circle-rating {
  position: absolute;
  right: 42%;
  top: 0%;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 9px;
  background: #232323;
  border: 1px solid #ffffff;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  opacity: 0.6;
}

.description-text p {
  font-weight: 300;
  color: #ffffff;
  line-height: 29px;
  opacity: 0.5;
  margin-top: 4px;
}

.description-text h1 {
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.span-group {
  display: flex;
  justify-content: space-between;
  width: 30%;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 25px;
}

.description-info img {
  height: 400px;
}
